<section id="servicio-contruccion" [ngClass]="['gray-back','servicio-constru']">
    <div ngClass="container">
        <h1 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">CONSULTORÍA E INGENIERÍA</h1>
    
        <div ngClass="construccion-container">
            <div>
                <img [src]="'assets/img/services/WebSiteDesign2024-12.png'">
            </div>
            <div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Confección de planos y sus consultoría para edificios, residenciales, ampliaciones y remodelaciones.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Presupuestar y construir edificios, residenciales, ampliaciones y remodelaciones.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Anteproyectos, asesoría en costos constructivos, diseño y presupuesto.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Diagnóstico para reparaciones o solución de problemas constructivos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ngClass="image-top-services">
    <div [ngClass]="['yellow-back','barra-amarilla']">

    </div>
    <div>
        <img [src]="'assets/img/services/WebSiteDesign2024-48.jpg'">
    </div>
</section>

