//SECCION HOME HERO BANNER
.hero-banner-home-section {
    position: relative;
    justify-content: space-between;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5px 5px;
    height: auto;
}

.hero-banner-home-section button{
    width: 105px;
}
.hero-banner-home-section img{
    width: 100%;
}

.text-hero-banner-home{
    position: absolute;
    top: 35%;
}

.text-hero-banner-home-container{
    padding-left: 10%;
}

.text-box-hero-banner-home{
    background-color: #00499a;
    height: 60px;
    padding: 0 8px 0;
    width: 295px;
}

.icon-services-container{
    align-self: center;
}

.title-services-container{
    text-align: center;
}
.text-description-hero-banner-home{
    max-width: 45%;
}

@media (max-width:436px){

    .hero-banner-home-section {
        height: 420px;
    }
}

@media (max-width:335px){

    .hero-banner-home-section {
        height: 530px;
    }
}

@media (max-width:300px){

    .hero-banner-home-section {
        height: 600px;
    }
}