<section id="servicio-contruccion" [ngClass]="['gray-back','servicio-constru']">
    <div ngClass="container">
        <h1 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">PINTURA</h1>
    
        <div ngClass="construccion-container">
            <div>
                <img [src]="'assets/img/services/WebSiteDesign2024-13.png'">
            </div>
            <div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplicación de pintura para techos.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplicación de pintura para Interiores y exetriores.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplicación de tratamientos en metales.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplcación de impermiabilizantes.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplcación de pinturas epoxicas.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplicación de revestimientos para interiores y exteriores, según la superficie.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Aplicación de selladores para madera tipo barniz o poliuretano
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ngClass="image-top-services">
    <div [ngClass]="['yellow-back','barra-amarilla']">

    </div>
    <div>
        <img [src]="'assets/img/services/WebSiteDesign2024-49.jpg'">
    </div>
</section>

