<section id="nosotros" [ngClass]="'gray-back'">
    <div  [ngClass]="['container', 'intro']">
        <div>
            <h1 [ngClass]="['f-size-25', 'text-center']">
                “Somos una empresa dedicada al área de consultoría construcción y servicios calificados
                de mantenimiento industrial y residencial registrada y habilitada”
            </h1>
        </div>
        <div ngClass="us-box-container">
            <div ngClass="us-box-content">
                <div ngClass="f-size-30">
                    <span ngClass="agency-font-reg">
                        NUESTRA MISIÓN
                    </span>
                </div>
                <div ngClass="us-box-content-desc">
                    <span>
                        Facilitar con excelencia, honrradez, prontitud y especialización, servicios y soluciones 
                        que clientes necesitan para obtener la mayor rentabilidad de sus actividades.
                    </span>
                </div>
            </div>
            <div ngClass="us-box-content">
                <div ngClass="f-size-30">
                    <span ngClass="agency-font-reg">
                        NUESTRA VISIÓN
                    </span>
                </div>
                <div ngClass="us-box-content-desc">
                    <span>
                        Ser una empresa lider, eficaz, versátil e innovadora, acorde con el tiempo en los servicios 
                        que brindamos a nuestros clientes para mantenernos como primera opción.
                    </span>
                </div>
            </div>
            <div ngClass="us-box-content">
                <div ngClass="f-size-30">
                    <span ngClass="agency-font-reg">
                        NUESTRA EXPERIENCIA
                    </span>
                </div>
                <div ngClass="us-box-content-desc">
                    <span>
                        Nuestros profesionales cuentan con más de 15 años de experiencia desarrollando proyectos para brindar 
                        soluciones a nuestros clientes
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="nuestros-servicios" ngClass="parallax" [ngStyle]="{'background-image': 'url(assets/img/backParallax.jpg)'}">
    <div ngClass="container">
        <h2 [ngClass]="['f-size-35','agency-font-bold', 'white-color', 'text-center']">NUESTROS SERVICIOS</h2>
        <div ngClass="service-boxes">
            <div ngClass="service-box">
                <div>
                    <img [src]="'assets/img/services/WebSiteDesign2024-10.png'">
                </div>
                <div [ngClass]="['service-titulo-container', 'white-color', 'text-center']">
                    <span [ngClass]="['agency-font-reg', 'f-size-25']">
                        Construcción
                    </span>
                </div>  
                <div ngClass="service-desc-container">
                    <span>
                        Somos especialistas en construcción y remodelación de casas, 
                        edificios y residencias, incluyendo diseño y equipamiento para 
                        edificaciones educativas. 
                    </span>
                </div>
                <div ngClass="button-container">
                    <a href="servicios/construccion">
                        <button [ngClass]="['agency-font-reg', 'f-size-20']">SABER MÁS</button>
                    </a>
                </div>
            </div>

            <div ngClass="service-box">
                <div>
                    <img [src]="'assets/img/services/WebSiteDesign2024-11.png'">
                </div>
                <div [ngClass]="['service-titulo-container', 'white-color', 'text-center']">
                    <span [ngClass]="['agency-font-reg', 'f-size-25']">
                        Consultoría e ingeniería
                    </span>
                </div>  
                <div ngClass="service-desc-container">
                    <span>
                        Brindamos asesoría desde la conceptualización de planos y consultoría para edificios, 
                        residenciales, ampliaciones y remodelaciones, hasta la elaboración detallada de presupuestos 
                        y la ejecución efectiva de los mismos.    
                    </span>
                </div>
                <div ngClass="button-container">
                    <a href="servicios/consultoria-e-ingenieria">
                        <button [ngClass]="['agency-font-reg', 'f-size-20']">SABER MÁS</button>
                    </a>
                </div>
            </div>

            <div ngClass="service-box">
                <div>
                    <img [src]="'assets/img/services/WebSiteDesign2024-12.png'">
                </div>
                <div [ngClass]="['service-titulo-container', 'white-color', 'text-center']">
                    <span [ngClass]="['agency-font-reg', 'f-size-25']">
                        Mantenimiento y otros
                    </span>
                </div>  
                <div ngClass="service-desc-container">
                    <span>
                        Nos destacamos por nuestra capacidad para revitalizar y mantener 
                        la infraestructura de residencias, consultorios, oficinas y otros espacios. 
                        Nuestros servicios incluyen desde reparaciones estructurales hasta sustituciones 
                        de pisos y enchapes.     
                    </span>
                </div>
                <div ngClass="button-container">
                    <a href="servicios/mantenimienti-y-otros">
                        <button [ngClass]="['agency-font-reg', 'f-size-20']">SABER MÁS</button>
                    </a>
                </div>
            </div>

            <div ngClass="service-box">
                <div>
                    <img [src]="'assets/img/services/WebSiteDesign2024-13.png'">
                </div>
                <div [ngClass]="['service-titulo-container', 'white-color', 'text-center']">
                    <span [ngClass]="['agency-font-reg', 'f-size-25']">
                        Pintura
                    </span>
                </div>  
                <div ngClass="service-desc-container">
                    <span>
                        En nuestro servicio de pintura, nos especializamos en dar vida y color a cualquier 
                        superficie con un enfoque profesional y meticuloso. Utilizamos técnicas avanzadas 
                        y productos de alta calidad.
                    </span>
                </div>
                <div ngClass="button-container">
                    <a href="servicios/pintura">
                        <button [ngClass]="['agency-font-reg', 'f-size-20']">SABER MÁS</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="nuestros-proyetos" [ngClass]="['gray-back','proyectos']">
    <div ngClass="container">
        <h2 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">ALGUNO DE NUESTROS PROYECTOS</h2>
        <app-home-projects></app-home-projects>
    </div>
</section>

<section id="nestras-ubicaciones" [ngClass]="['yellow-back','ubicaciones']">
    <div ngClass="container">
        <div>
            <h2 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">NUESTRAS UBICACIONES</h2>
        </div>
        <div ngClass="ubicaciones-container">
            <div ngClass="img-location-container">
                <img [src]="'assets/img/services/WebSiteDesign2024-19.png'">
            </div>
            <div ngClass="ubicaciones-text">
                <div>
                    <span>
                        Estamos ubicados en tres paises de Centro America, debidamente registrados y habalados por las instituciones de cada país.
                    </span>
                </div>
                <div ngClass="text-paises-container">
                    <span [ngClass]="['agency-font-reg', 'f-size-20']">
                        Paises
                    </span>
                </div>
                <div ngClass="flag-contactbtn">
                    <div>
                        <img [src]="'assets/img/location/WebSiteDesign2024-43.jpg'">
                        <img [src]="'assets/img/location/WebSiteDesign2024-44.jpg'">
                        <img [src]="'assets/img/location/WebSiteDesign2024-45.jpg'">
                    </div>
                    <div ngClass="btn-ubicacio-contact">
                        <button [ngClass]="['agency-font-reg', 'f-size-20']">CONTACTANOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

