<section id="servicio-contruccion" [ngClass]="['gray-back','servicio-constru']">
    <div ngClass="container">
        <h1 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">MANTENIMIENTO Y OTROS</h1>
    
        <div ngClass="construccion-container">
            <div>
                <img [src]="'assets/img/services/WebSiteDesign2024-10.png'">
            </div>
            <div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Mejoras de caminos, cunetas, cordón, caño y alcantarillado.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Reparaciones estructurales, yipsum, madera y concreto.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Reparaciones de fuga potables, cambio de cacheras, cambio de piezas sanitarias y accesorios entre otros.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Sustitución de pisos y enchapes.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Todo tipo de obras prefabricadas.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Muros de contención en concreto armado, gaviones o en block.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ngClass="image-top-services">
    <div [ngClass]="['yellow-back','barra-amarilla']">

    </div>
    <div>
        <img [src]="'assets/img/services/WebSiteDesign2024-47.jpg'">
    </div>
</section>

