

<div [ngClass]="'carousel-header'"  (window:resize)="onResize($event)">
    <owl-carousel-o [options]="customOptions">
  
      <ng-container *ngFor="let slide of slidesStore">
        <ng-template carouselSlide [id]="slide.id">
          <section [ngClass]="'hero-banner-home-section'">
            <div>
              <img [src]="slide.img" [alt]="slide.title" [title]="slide.title">
            </div>
            <div [ngClass]="['text-back-divisor','display-min725px']">
            </div>
            <div [ngClass]="['text-back-border-right-divisor','display-min725px']">
            </div>
            <div [ngClass]="['text-back-border-bottom-divisor','display-min725px']">
            </div>
            <div class="container">
              <div [ngClass]="['text-hero-banner-home',slide.clase]">
                  <div [ngClass]="['text-hero-banner-home-container','container']">
                      <div [ngClass]="['text-box-hero-banner-home', 'yellow-back']">
                          <span [ngClass]="['blue-color','f-size-30', 'agency-font-bold']">
                            {{slide.title}}
                          </span>
                      </div>
                      <div [ngClass]="['text-description-hero-banner-home']">
                          <span [ngClass]="['white-color','f-size-25','agency-font-reg']">
                            {{slide.description}}
                          </span>
                      </div>
                      <button [ngClass]="'btn-yellow-white'">
                        <a [href]="slide.url">
                          <span [ngClass]="'agency-font-bold'">SABER MÁS</span>
                          <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.33 22.32">
                              <path d="M9,20,16,13H0V9.47H15.94L8.83,2.38,11.19,0,22.33,11.13,11.15,22.32Z"/>
                          </svg> 
                        </a>
                      </button>
                  </div>
              </div>
            </div>
            
            <div [ngClass]="'yellow-bar'">
            </div>
          </section>
        </ng-template>
      </ng-container>
      
    </owl-carousel-o>
    
  </div>