<section id="servicio-contruccion" [ngClass]="['gray-back','servicio-constru']">
    <div ngClass="container">
        <h1 [ngClass]="['f-size-35','agency-font-bold', 'text-center']">CONSTRUCCIÓN</h1>
    
        <div ngClass="construccion-container">
            <div>
                <img [src]="'assets/img/services/WebSiteDesign2024-10.png'">
            </div>
            <div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Construcción de edificios, residencias, ampliaciones, remodelaciones.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Tapias perimetrales, fachadas, piscinas, oficinas, consultorios. Etc.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Expertos en la construcción de edificaciones educativas y su equipamiento.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Construcción de sistemas eléctricos, sistemas de redes de voz y datos certificadas.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Todo tipo de obras prefabricadas.
                    </div>
                </div>
                <div ngClass="item-services">
                    <div ngClass="cuadro-blanco">
                    </div>
                    <div>
                        Muros de contención en concreto armado, gaviones o en block.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section ngClass="image-top-services">
    <div [ngClass]="['yellow-back','barra-amarilla']">

    </div>
    <div>
        <img [src]="'assets/img/services/WebSiteDesign2024-46.jpg'">
    </div>
</section>

